#!/usr/bin/env bash

work_dir: ./work_dir/21_10_08-ntu60-xsub_2020-cvpr-decouple-gcn_tte_k_8
#work_dir: ./work_dir/eval/20-12-09-ntu120_xsub_joint_bone_angle_only_sgcn

# feeder
feeder: feeders.feeder.Feeder
train_feeder_args:
  data_path: "/mnt/80F484E6F484E030/Baseline-Implementation/Skeleton-Action-Recognition/2020-CVPR-Liu-MS-G3D/MS-G3D/data/ntu/xsub/train_data_joint.npy"
  label_path: "/mnt/80F484E6F484E030/Baseline-Implementation/Skeleton-Action-Recognition/2020-CVPR-Liu-MS-G3D/MS-G3D/data/ntu/xsub/train_label.pkl"
  debug: False
  random_choose: False
  random_shift: False
  random_move: False
  window_size: -1
  normalization: False

test_feeder_args:
  data_path: "/mnt/80F484E6F484E030/Baseline-Implementation/Skeleton-Action-Recognition/2020-CVPR-Liu-MS-G3D/MS-G3D/data/ntu/xsub/val_data_joint.npy"
  label_path: "/mnt/80F484E6F484E030/Baseline-Implementation/Skeleton-Action-Recognition/2020-CVPR-Liu-MS-G3D/MS-G3D/data/ntu/xsub/val_label.pkl"
  debug: False

# model
model: model.decouple_gcn.Model
model_args:
  num_class: 60
  num_point: 25
  num_person: 2
  graph: graph.ntu_rgb_d.Graph
  groups: 16
  block_size: 41
  graph_args:
    labeling_mode: 'spatial'

#optim
weight_decay: 0.0001
base_lr: 0.1
step: [50]

# training
device: [0]
keep_rate: 0.9
only_train_epoch: 1
batch_size: 2  # 36
test_batch_size: 2  # 36
num_epoch: 100
nesterov: True

additional_loss:  # additional loss
    rank_pool: True
    rank_pool_w: 0.1
    rank_pool_start_epoch: 1
